.createPredictorModal{
    margin-left: -12px;
    height: 85vh;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stepper{
    display: table;    
    width: 25%;
    margin: 0px auto;
}

.createPredictorModal .container{
    background: white;
}

#donate {
    margin:4px; 
    float:left;
}
  
.createPredictorModal .modalButton{
    position: absolute;
    right: 0;
    bottom: 0; 
    width: 100%;
}

.createPredictorModal .createPredictorForm{
    height: 71vh; 
    position: relative;
}

/*.createPredictorModal .Main3{
    padding-top: 8%;
    background: white;
}*/


#donate label {
    float:left;
    width:393px;
    margin:4px;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    background: bottom;      
}
  
#donate label span {
    text-align:center;
    font-size: 18px;
    display:block;
    background: bottom;    
}
  
#donate label input {
    visibility: hidden;
    top:-20px;
}
  
#donate input:checked + span {
    background-color: black
}
  
#donate .blue {
    background-color:#00BFFF;
    color:#333;
}
  
  
#donate .green {
    background-color:#A3D900;
    color:#333;
}
  
.input{
    width: 100%;
    height: 38px;
    border: none;
    border-radius: 6px;
    background: white;
    box-shadow: 0px 0px 18px #f7f7f7;
}

  .createA{
    text-align: center;
    background: white;
    letter-spacing: 1px;
    color: #62009d;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 16px;
}
.predictor{
    text-align: center;
    font-size: 19px;
    letter-spacing: 1px;
    margin-top: -2%;
    background: white;
    color: #62009d;  
}
  .modelType{
    background: #62009d;
    color: white;
    height: 32px;
    border-radius: 16px;
    text-align: center;
    font-size: 13px;
    padding-top: 8px;
    cursor: pointer;
      
}

.modelType2{
    background: white;
    color: black;
    height: 32px;
    border-radius: 16px;
    text-align: center;
    border: 1px solid black;
    padding-top: 5px;
    width: 28%;
    cursor: pointer;
}
.createPredictorRow{
    padding-top: 8%;
    padding-bottom: 1%;
    padding-right: 1%;
    margin-right: 3.5%;
        width: 100%;
     /*text-align: center; */
    display: table;
    margin: 0 auto;
}

.groupBtn3{
    border-radius: 5px;
    background: white;
    word-break: break-all;
    width: 125%;
    height: 54px;
}

.src .bottomPredic{
    padding:0px
}

.createPredictorModal .cen{
    display: flex;
    justify-content: center;
}

.thereAreNo{
    display: table;
    margin: 3% auto;
    color: #c4bbb2;
    }



.dropBtn1{
    color: #c4bbb2;
    background: white;
    border: none;
    width: 165%;
    height: 9vh;
}
.dropBtn2{
    color: #c4bbb2;
    background: white;
    border: none;
    /*width: 122%;*/
    height: 9vh;
}
.dropBtn3{
    color: #c4bbb2;
    background: white;
    border: none;
    /*width: 112%;*/
    height: 9vh;
}
.dropBtn4{
    color: #c4bbb2;
    background: white;
    border: none;
    /*width: 114.5%;*/
    height: 9vh;
}
.dropBtn5{
    color: #c4bbb2;
    background: white;
    border: none;
    /*width: 153%;*/
    height: 9vh;
}
.dropBtn6{
    color: #c4bbb2;
    background: white;
    border: none;
    /*width: 231%;*/
    height: 9vh;
}